#header{
    border-top: 0 solid #07a2a6;
    width: 100%;
    background: #07a2a6;
    position: absolute;
    top:0;
    left:0;
}

#headertable{
    margin-left: 180px;
    color: #000;
    align: bottom;
    text-align: center;
    background: #07a2a6;
}

#navcell{
	width : 1000px;
    height: 120px;
}

#nav{
    margin-left: 250px;
    font-size: 18px;
    /*text-decoration: underline;*/
}

#bio{
	margin-top: 120px;
}

#footer {
    height: 55px;
    padding-left: 240px;
    margin-top: 80px;
    /*border-bottom: 40px solid #07a2a6;*/
}

#footer a {
    text-align: center;
    color: #07a2a6;
    text-decoration: none;
}


#course .col1{
    width :200px;
}

.hob {    
    margin-left: -20px;
}

div {    
    width:90%;
}

table h4{
    margin-top: 35px;
    margin-bottom: 20px;
}

table a {
    color: #07a2a6;
    text-decoration: none;
}

.smallfont{
    font-weight: normal;
    font-size: 12px;
}

.navv {
    margin: 0;
    margin-left: 18px;
    padding: 0;
    list-style: none;
    float: left;
}

.navv a {
    text-align: center;
    color: #F0F0F0;
}

.navv:hover a, .navv:active a, .navv:focus a,  .navv a.current{
    color: #F0F0F0;
    border-bottom: 2px solid #F0F0F0;
    text-decoration: none;
}

.solidline {
    border-top: 1px solid #c9cbca;
    /*margin: 0px 0 0 0;*/
    width: 100%;
}

body {
    font-weight: normal;
    font-family: 'Oxygen', sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Maven Pro', sans-serif;*/
    color: #000;
    /*top:100px;*/
    background: -webkit-linear-gradient( #F0F0F0, #FEFEFE); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F0F0F0, #FEFEFE); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( #F0F0F0, #FEFEFE); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #F0F0F0, #FEFEFE); /* Standard syntax */
}

table{
    table-layout: fixed;
    margin-left: 180px;
    width: 1000px;
    font-weight: normal;
    line-height: 20pt;
    font-size: 15px;
}

table td{
    font-weight: normal;
    font-size: 15px;
}


table h4{
    color: #07a2a6;
    font-size: 20px;
}

